@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$colorWhite: #ffffff;
$fontSizeP: 1.4rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.containerCreationsFinished {
  width: 100%;
  margin-top: 56px;
  margin-left: 56px;
  h1 {
    color: $colorYellow;
    margin-bottom: 56px;
  }

  .boardCards {
    width: 80%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .containerCard {
      position: relative;
      width: 277px;
      height: 450px;
      .containerImg {
        position: absolute;
        z-index: 2;
        top: -25px;
        right: -10px;
      }
    }
  }
}
