.container-button {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.allButtonGenre {
  padding: 8px;

  .ButtonGenre {
    width: 160px;
    padding: 6px;
    font-size: 0.9rem;
    border: 2px;
    border-radius: 58px;
    background-color: rgb(76, 96, 174);
    color: rgb(255, 255, 255);
  }

  .ButtonGenre:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(76, 96, 174);
  }
}
