@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');


.Scenario{
	font-family: 'Lustria', serif; 
	font-size: 1rem;
	width:30vw;
	height:70vh ;
	margin:0px;
	padding: 0px;

	p{
		color: white;
	}
  .containerimg{
 		  width:60%;
			height: 47%;
			
			img {
				width: 70%;
			}
 	}
	img:hover{
		transform:rotate(10deg);
	}

	.Card{

	flex-direction: column;
	width: 40%;
	height: 53%;
	margin:0;

  	.title{
			display:flex;
			justify-content: space-between;
			gap: 12%;
			margin:0;

			h2{
				font-size: 1.2rem;
				margin:0;
			}
			img{
				width: 10%;
				object-fit: contain;
			}
			img:hover{
				transform:none;
			}
		}

		.viewer{
			display: flex;
			justify-content: flex-end;
			gap:10%;
			margin:0;
			font-size:0.75rem


		}

		.description{
			font-size:0.75rem;;
			margin:0;
		}
		.theme{
			display:flex;
			justify-content: space-between;
			font-size:0.85rem;
			text-align: center;
			gap: 2%;

			.univers{
				color: rgb(255,189,89);
		
			}
			.genre{
				color:rgb(76, 96, 174) ;
			}
		}
		.auteur{
			font-size:0.85rem;
			display:flex;
			justify-content: space-between;
			text-align: center;

			p{
				margin:0;
			
			}

			button{
				border-radius:58px;
				color: white;
				background-color: rgb(76, 96, 174);
				border:2px;
			}

			button:hover{
				color: rgb(76, 96, 174);
				background-color: white;
			}
		}
	}	
}
