$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.main-editorPageStyle {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
  overflow-y: auto;

  // background-color: white;

  p {
    color: white;
    font-size: $fontSizeTitre;
  }

  .text-color {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;

    .choix-color {
      border: 1px solid gray;
      position: relative;
      width: 30px;
      height: 30px;
      margin: 0;
      border: 1px solid gray;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
      }
    }

    .choice-arrow {
      width: 18px;
      height: 10px;
      background-color: white;
      clip-path: polygon(50% 60%, 80% 0, 100% 0, 50% 100%, 0 0, 20% 0);
      transition: transform 0.3s;
    }

    &:hover .choice-arrow {
      transform: translateY(5px);
      background-color: $colorYellow;
    }

    .textColorPicker-container {
      position: absolute;
      top: 40px;
      right: 0;
      // transform: scale(1.5);
    }
  }

  .div-marges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    gap: 16px;

    img {
      width: 50px;
      height: 50px;
    }

    input {
      color: white;
      background-color: $colorDark;
      font-size: $fontSizeTitre;
      width: 50px;
      height: 40px;
      text-align: center;

      &:hover,
      &:focus {
        background-color: $blueColor;
      }
    }
  }

  button {
    display: block;
    padding: 8px 16px;
    font-size: $fontSizeP;
    border-radius: 16px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: $colorYellow;
    border: 5px outset #a98f67;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 20px 3px $colorYellow;
    }

    &:active {
      border: 5px inset #a98f67;
    }
  }
}
