$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.section-page {
  p {
    font-size: $fontSizeTitre;
    margin: 50px;
    text-align: center;
  }
}
