@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$colorWhite: #ffffff;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;
$colorInput: #070a09;

.popUp {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  .logIn {
    width: 600px;
    height: 550px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 3px $blueColor;
    background-color: $colorDark;
    color: $colorWhite;
    font-family: Lustria;
    font-size: $fontSizeP;
    display: flex;
    flex-direction: column;
    align-items: center;
    .imgcontainer {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-right: 32px;
      margin-top: 16px;
    }
    .containerForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      span {
        color: $colorYellow;
        cursor: pointer;
      }
      .conteneurSVG {
        display: flex;
        justify-content: center;
        object-fit: cover;
        width: 20%;
        svg {
          width: 100%;
          height: 5px;
          stroke: #ffffff;
        }
      }
      .EmailPassword {
        width: 350px;
        height: 250px;
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        margin-bottom: 16px;
        justify-content: center;
        .labelInput {
          display: flex;
          flex-direction: column;
          margin-bottom: 16px;
          align-items: center;
          justify-content: center;
          .inputPassword {
            display: flex;
            justify-content: row;
            position: relative;
            left: 22px;
            .containerImg {
              position: relative;
              top: 0px;
              width: 30px;
              margin-left: 16px;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                cursor: pointer;
              }
            }
          }

          label {
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
          }
          input {
            font-size: $fontSizeP;
            width: 300px;
            height: 30px;
            border-color: $blueColor;
            display: flex;
            justify-content: center;
            background-color: $colorInput;
            color: $colorWhite;
          }
        }
      }

      button {
        width: 250px;
        height: 50px;
        border-radius: 42px;
        background-color: #ffffff;
        color: $colorDark;
        font-size: $fontSizeBouton;

        &:hover {
          background-color: $blueColor;
          color: $colorWhite;
        }
      }
    }
  }
}
