@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$colorWhite: #ffffff;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.popUpSignUp {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);

  .signUp {
    width: 1000px;
    height: 700px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 3px $blueColor;
    background-color: $colorDark;
    color: $colorWhite;
    font-family: Lustria;
    font-size: $fontSizeP;
    display: flex;
    flex-direction: column;
    align-items: center;

    .imgcontainer {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-right: 32px;
      margin-top: 16px;
    }

    .mainContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .containerForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -45px;

        span {
          color: $colorYellow;
          cursor: pointer;
        }

        .conteneurSVG {
          display: flex;
          justify-content: center;
          object-fit: cover;
          width: 20%;

          svg {
            width: 100%;
            height: 5px;
            stroke: #ffffff;
          }
        }

        .containInformation {
          display: flex;
          flex-direction: column;
          margin-top: 16px;
          margin-bottom: 16px;
          justify-content: center;

          .signUpErrors {
            display: flex;
            justify-content: center;
            // max-width: 90%;
            margin: 5px 0 0 0;
            color: red;
            font-size: calc($fontSizeP/1.5);
          }

          .sUEPassword {
            display: flex;
            justify-content: center;
            max-width: 80%;
            margin: 5px 0 0 0;
            color: red;
            font-size: calc($fontSizeP/1.5);
            margin-left: 15px;
          }

          .LastnameFirstname {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 16px;
          }

          .inputPassword {
            display: flex;
            justify-content: row;

            .containerImg {

              width: 30px;
              margin-left: 16px;

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                cursor: pointer;
              }
            }
          }

          .labelInput {
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;

            label {
              display: flex;
              justify-content: center;
              margin-bottom: 8px;
            }

            input {
              width: 100%;
              height: 30px;
              display: flex;
              justify-content: center;
              font-size: $fontSizeP;
              border-color: $blueColor;
              background-color: $colorDark;
              color: $colorWhite;

              &:hover,
              &:focus {
                background-color: $colorYellow;
                color: $colorDark;
              }
            }
          }

          .labelInputFileAvatar {
            margin-bottom: 0;

            input {
              display: none;
            }

            .button-import-image {
              img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: $blueColor;
                cursor: pointer;

                &:hover {
                  background-color: $colorYellow;
                  box-shadow: 0px 0px 20px 3px $colorYellow;
                }
              }
            }
          }
        }

        button {
          width: 250px;
          height: 50px;
          border-radius: 42px;
          background-color: $blueColor;
          color: $colorWhite;
          font-size: $fontSizeBouton;

          &:hover {
            background-color: $colorYellow;
            color: $blueColor;
          }
        }
      }
    }
  }
}
