@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$colorWhite: #ffffff;
$fontSizeP: 1.4rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.containerUserCreations {
  width: 100%;
  .boardCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 54px;
  }
}
