@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$colorWhite: #ffffff;
$fontSizeP: 1.4rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.containerUserCreations {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .div-switch {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: white;
    margin-top: -8px;
    margin-bottom: 24px;
    // border: 1px solid white;
  }

  .boardCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 54px;
    max-height: calc(480px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 30px;

  }
}
