$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.fausse-navbar {
  width: 100vw;
  height: 100px;
  background-color: $colorDark;
}

.editor-bandeau-superieur {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100vw;
  background-color: $colorDark;
  padding: 8px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  margin-bottom: 24px;
  margin-top: 16px;
  box-sizing: border-box;
  // border: 1px solid red;

  .editor-bandeau-gauche {
    width: 400px;
    // border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 0px 20px 5px $colorYellow;
      }
    }

    button {
      display: block;
      color: white;
      // border: 1px solid yellow;
      background-color: $colorDark;
      font-size: $fontSizeBouton;
      padding: 8px;
      border-radius: 16px;
      box-shadow: 0 0 20px 3px $colorYellow;

      cursor: pointer;

      &:hover {
        box-shadow: 0px 0px 30px 15px $blueColor;
      }
    }
  }

  .editor-bandeau-centre {
    width: 1000px;
    // border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .new-text-image {
      width: 25%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      // background-color: #FFBD59;

      img {
        width: 50px;
        height: 50px;
        border-radius: 7px;
        cursor: pointer;

        &:hover {
          box-shadow: 0px 0px 20px 5px $colorYellow;
        }
      }
    }
    //
    .container-saved-styles-text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 8px;
      align-items: flex-end;
      width: 60%;
      // height: 50px;

      .saved-styles-text {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 8px;
        // border-left: 1px solid $colorYellow;
        // border-right: 1px solid $colorYellow;
        // background-color: #4C60AE;

        p {
          color: white;
          font-size: $fontSizeP;
          padding: 0;
          margin: 0;
        }

        .saved-styles-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          gap: 5%;
          align-items: center;
          width: 95%;
          height: 50px;
          background-color: #4c60aea6;
          padding: 8px;

          .saved-style {
            position: relative;
            background-color: white;
            width: 30%;
            height: 50px;
            cursor: pointer;
            overflow-y: auto;
            font-size: $fontSizeP;

            &:hover {
              background-color: #ffe7c3;
            }

            > .button-suppression-style {
              position: absolute;
              font-size: $fontSizeP;
              width: 100%;
              top: 20%;
              left: 0;
            }

            p {
              color: black;
              width: 100%;
              text-align: center;
            }
          }
        }
      }

      .arrowButton-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 5%;
        height: 68px;

        .arrowButton {
          width: 100%;
          height: 50%;
          background-color: $colorDark;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: #38363e;
          }

          .arrowButtonNext {
            width: 18px;
            height: 10px;
            background-color: $colorYellow;
            clip-path: polygon(50% 60%, 80% 0, 100% 0, 50% 100%, 0 0, 20% 0);
          }

          .arrowButtonPrevious {
            width: 18px;
            height: 10px;
            background-color: $colorYellow;

            clip-path: polygon(
              50% 20%,
              80% 100%,
              100% 100%,
              50% 0,
              0 100%,
              20% 100%
            );
          }
        }
      }
    }
    //
    .container-saved-styles-image {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 8px;
      align-items: flex-end;
      width: 35%;

      .saved-styles-images {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 8px;

        // background-color: aqua;

        p {
          color: white;
          font-size: $fontSizeP;
          padding: 0;
          margin: 0;
        }

        .saved-styles-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          gap: 10%;
          align-items: center;
          width: 95%;
          background-color: #4c60aea6;
          padding: 8px;

          .saved-style {
            background-color: white;
            width: 45%;
            height: 50px;

            p {
              color: black;
              width: 100%;
              text-align: center;
            }
          }
        }
      }

      .arrowButton-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 5%;
        min-width: 28px;
        height: 68px;

        .arrowButton {
          width: 100%;
          height: 50%;
          background-color: $colorDark;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: #38363e;
          }

          .arrowButtonNext {
            width: 18px;
            height: 10px;
            background-color: $colorYellow;
            clip-path: polygon(50% 60%, 80% 0, 100% 0, 50% 100%, 0 0, 20% 0);
          }

          .arrowButtonPrevious {
            width: 18px;
            height: 10px;
            background-color: $colorYellow;

            clip-path: polygon(
              50% 20%,
              80% 100%,
              100% 100%,
              50% 0,
              0 100%,
              20% 100%
            );
          }
        }
      }
    }
  }

  .editor-bandeau-droite {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
    // border: 1px solid white;

    .container-pages-saved-styles {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 8px;
      margin-left: 30px;

      p {
        color: white;
        font-size: $fontSizeP;
        padding: 0;
        margin: 0;
      }

      .saved-styles-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10%;
        align-items: center;
        width: 100%;
        background-color: #4c60aea6;
        padding: 8px;

        .saved-style {
          background-color: white;
          width: 45%;
          height: 50px;

          p {
            color: black;
            width: 100%;
            text-align: center;
          }
        }
      }
    }

    .arrowButton-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 5%;
      min-width: 28px;
      height: 68px;

      .arrowButton {
        width: 100%;
        height: 50%;
        background-color: $colorDark;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #38363e;
        }

        .arrowButtonNext {
          width: 18px;
          height: 10px;
          background-color: $colorYellow;
          clip-path: polygon(50% 60%, 80% 0, 100% 0, 50% 100%, 0 0, 20% 0);
        }

        .arrowButtonPrevious {
          width: 18px;
          height: 10px;
          background-color: $colorYellow;

          clip-path: polygon(
            50% 20%,
            80% 100%,
            100% 100%,
            50% 0,
            0 100%,
            20% 100%
          );
        }
      }
    }
  }
}

.editor-main {
  position: relative;
  /* display: flex;
    justify-content: space-around;
    align-items: flex-start; */
  width: 100vw;
  height: 1414px;
  background-color: $colorDark;
  box-sizing: border-box;

  .sommaire-editeur {
    position: absolute;
    top: 0;
    left: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;

    .configurator {
      position: sticky;
      top: 140px;
      right: 24px;
      z-index: 2;
      width: 400px;
      min-width: 400px;
      height: calc(100vh - 200px);
      box-shadow: 0 0 20px 3px $blueColor;
      background-color: $colorDark;
      box-sizing: border-box;
    }

    .section-sommaire {
      position: sticky;
      top: 140px;
      left: 0;
      z-index: 2;
      width: 400px;
      min-width: 400px;
      box-sizing: border-box;
      height: calc(100vh - 200px);
      box-shadow: 0 0 20px 3px $blueColor;
      background-color: $colorDark;
    }
  }
}

.section-page {
  position: relative;
  /* width: 50vw;
    height: 70.7vw; */
  min-width: 1000px;
  width: 1000px;
  height: 1414px;
  border: 1px solid $colorDark;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0 0 20px 3px $colorYellow;
  box-sizing: border-box;
  /* overflow-y: auto;
    overflow-x: hidden; */
}

textarea:focus {
  box-shadow: 5px 5px 10px red;
}

h1 {
  font-size: $fontSizeTitre;
}

.editor-page-container {
  min-width: 800px;
}

.page-container {
  max-height: 100vh;
  height: 100%;
  width: 1000px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  box-sizing: border-box;
}

/* @media screen and (max-width: 500px) {
    .section-page {
      width: 100vw;
      height: 141.4vw;
    }
  } */
