main {
  width: 70vw;
  height: 100vh;
  background-color: lightblue;

  .titleh2 {
    color: red;
    display: flex;
    justify-content: center;
    background-color: lightpink;
  }

  .formGlobal {
    width: 50vw;
    height: 85vh;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin-left: 50px;
    background-color: lightcyan;


  }
}

