$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$colorWhite: #ffffff;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.mainFormNewScenario {
  position: absolute;
  position: fixed;
  z-index: 50;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lustria;
  // margin: 20px 0; // Inutile mais c'est pour que l'on voit le fond du container !
  // position: absolute;  // Ne marche pas, fait nimp !

  h2 {
    margin: 30px 0 10px 0;
    font-size: $fontSizeTitre;
    color: $colorYellow;
  }

  .formGlobal {
    box-sizing: border-box;
    width: 900px;
    background-color: $colorDark;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $blueColor;
    font-size: $fontSizeP;
    // background-color: $colorDark; // Utile ? marche si desactivé ...
    // box-shadow: 0px 0px 20px 5px $blueColor;  // Bonne valeur !!
    box-shadow: 0px 0px 20px 5px $blueColor; // Pour test
    border-radius: 32px;

    p {
      color: white;
      margin: 4px 0px 4px 0px;
    }

    .form-flexRow {
      width: 100%;
      height: 90px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      margin-bottom: 10px;
      border-bottom: 1px solid $colorYellow;
      // padding-bottom: 24px;

      .p-numberPlayer {
        font-size: $fontSizeP;
        text-align: center;
        vertical-align: center;
        padding-top: 32px;
      }

      .form-flexColumn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;

        select {
          width: 200px;
          height: 30px;
          border-radius: 8px;
          margin: 0;
          cursor: none;
          font-size: $fontSizeP;
          background-color: $colorDark;
          color: $colorWhite;
          border-color: $blueColor;
        }

        input {
          width: 300px;
          height: 30px;
          border-radius: 8px;
          margin: 0;
          cursor: none;
          font-size: $fontSizeP;
          background-color: $colorDark;
          color: $colorWhite;
          border-color: $blueColor;
        }
      }
    }

    .form-container-synopsis {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid $colorYellow;
      padding-bottom: 24px;

      textarea {
        width: 100%;
        height: 170px;
        border-radius: 16px;
        padding: 8px;
        box-sizing: border-box;
        font-size: $fontSizeP;
        background-color: $colorDark;
        color: $colorWhite;
        border-color: $blueColor;
      }
    }

    .param-pictureScenar {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $colorYellow;

      p {
        margin-bottom: 10px;
        font-size: $fontSizeP;
      }

      .form-chooseApicture {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 100px;
        padding-bottom: 24px;

        label {
          background-color: $blueColor;
          color: white;
          display: block;
          width: 120px;
          height: 28px;
          padding: 8px 16px;
          border-radius: 16px;
          font-size: $fontSizeP;
          cursor: none;

          &:hover {
            background-color: $colorYellow;
            color: black;
          }
        }

        input {
          display: none;
        }

        img {
          max-height: 200px;
          max-width: 300px;
        }
      }
    }

    .submitScenar {
      width: 400px;
      display: flex;
      justify-content: space-around;
      button {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 150px;
        height: 50px;
        border-radius: 16px;
        font-size: $fontSizeP;
        background-color: $blueColor;
        color: white;
        cursor: none;

        &:hover {
          background-color: $colorYellow;
          color: black;
        }
      }
    }
  }
}
