$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$colorWhite: #ffffff;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.main-forum {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  align-items: flex-start;
  margin-top: 32px;

  .forum-bandeauGauche {
    width: 250px;
    min-height: calc(100vh - 180px);
    box-shadow: 0px 0px 20px 3px $blueColor;
    padding: 16px;
    margin-left: 16px;
    position: sticky;
    top: 16px;

    h1 {
      color: $colorYellow;
      font-weight: 400;
      font-size: $fontSizeTitre;
    }

    .div-newTopic {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 24px;
      align-items: center;
      margin-bottom: 64px;

      img {
        width: 30px;
        height: auto;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
          box-shadow: 0px 0px 20px 3px $colorYellow;
        }
      }
    }

    .div-categories,
    .div-tag {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 64px;

      .category-element {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 24px;
        align-items: center;
        cursor: pointer;

        .category-color {
          width: 30px;
          height: 30px;
        }

        h2 {
          color: white;
          font-size: $fontSizeBouton;
        }

        &:hover h2 {
          color: $colorYellow;
          font-weight: bold;
        }
      }
    }
  }

  .forum-bandeauDroite {
    width: 1000px;
    max-width: calc(100vw - 280px);
    position: relative;

    .div-rules {
      position: relative;
      z-index: 2;
      margin-left: auto;
      margin-right: auto;
      margin-top: 128px;
      margin-bottom: 0;
      color: white;
      padding: 24px;
      box-shadow: 0px 0px 20px 3px $colorYellow;
      box-sizing: border-box;
      font-size: $fontSizeP;
    }

    .masque {
      position: sticky;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 48px;
      background-color: $colorDark;
    }

    .div-research {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 128px;
      align-items: center;
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 1px solid $colorYellow;
      background-color: $colorDark;
      position: sticky;
      z-index: 2;
      top: 30px;

      button {
        padding: 16px 24px;
        background-color: $blueColor;
        color: white;
        font-size: $fontSizeP;
        font-weight: bold;
        border-radius: 32px;
        cursor: pointer;
        min-width: 35%;

        &:hover {
          background-color: $colorYellow;
          color: $blueColor;
        }
      }

      input {
        padding: 16px;
        background-color: white;
        color: black;
        font-size: $fontSizeP;
        font-weight: 400;
        border-radius: 32px;
        min-width: 35%;

        &:hover,
        &:focus {
          background-color: rgb(220, 220, 150);
        }
      }
    }

    .div-showTopics {
      width: 100%;
      color: white;
      box-sizing: border-box;

      .topic {
        width: 100%;
        padding: 16px;
        border-radius: 16px;
        border-bottom: 1px solid $blueColor;
        cursor: pointer;
        box-sizing: border-box;

        &:hover {
          background-color: $blueColor;
          border-bottom: 1px solid $colorYellow;
        }

        .topic-title {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 32px;

          p {
            font-size: $fontSizeTitre;
            font-weight: bold;
          }

          img {
            width: 30px;
            height: auto;
          }
        }

        .topic-firstCpmment {
          width: 100%;

          p {
            font-size: $fontSizeP;
          }
        }

        .topic-info {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          gap: 64px;

          p {
            font-size: $fontSizeP;
            color: $colorYellow;
            margin: 0;
          }
        }
      }
    }
  }

  .forum-section-formNewTopic {
    position: absolute;
    z-index: 2;
    width: 50vw;
    height: 70vh;
    top: 5vh;
    left: auto;
    background-color: $colorDark;
    box-shadow: 0px 0px 150px 20px $blueColor;
    box-sizing: border-box;

    .main-formNewTopic {
      width: 100%;
      height: 100%;
      padding: 24px;
      box-sizing: border-box;

      h1 {
        color: $colorYellow;
        text-align: center;
        font-size: $fontSizeTitre;
        word-spacing: 10px;
      }

      form {
        width: 90%;
        height: calc(100% - 75px);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;

        section {
          display: flex;
          flex-direction: row;
          width: 100%;
          gap: 5%;
          font-size: $fontSizeBouton;

          div {
            display: flex;
            flex-direction: column;
            gap: 16px;
          }

          label {
            color: white;
            font-size: $fontSizeP;
        }

          .div-input {
            width: 60%;
            box-sizing: border-box;

           

            input {
              width: 100%;
              height: 40px;
              font-size: $fontSizeBouton;
            padding: 8px;
            box-sizing: border-box;


            }
          }

          .div-select {
            width: 35%;


            select {
              width: 100%;
              height: 40px;
              font-size: $fontSizeP;
              padding: 8px;
              box-sizing: border-box;



            }
          }
        }

        .div-textarea {
          width: 100%;
          height: calc(100% - 200px);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 16px;
          box-sizing: border-box;

          label {
            color: white;
            font-size: $fontSizeP;
          }

          input[type="text"] {
            width: 100%;
            height: 40px;
            font-size: $fontSizeP;
            box-sizing: border-box;
            padding: 8px;
          }

          textarea {
            width: 100%;
            height: calc(100% - 4rem);
            font-size: $fontSizeP;
            box-sizing: border-box;
            padding: 8px;
          }
        }

        .form-buttonDiv {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          input[type="submit"] {
            width: 30%;
            height: 40px;
            font-size: $fontSizeP;
            border-radius: 20px;
            background-color: $blueColor;
            color: white;
            cursor: pointer;

            &:hover {
              background-color: $colorYellow;
              color: $blueColor;
            }
          }
        }
      }
    }
  }
}
