$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$colorWhite: #ffffff;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.main-forumPageComment {
  width: 100vw;
  box-sizing: border-box;

  .comments-container {
    width: 100vw;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    h1 {
      width: 100%;
      min-height: 60px;
      line-height: 60px;
      padding: 8px;
      border-radius: 16px;
      color: $colorYellow;
      background-color: $blueColor;
      font-size: $fontSizeTitre;
      text-align: center;

      span {
        color: white;
      }
    }

    .div-comment {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid $blueColor;
      border-bottom: 3px solid $colorYellow;
      margin-top: 2px;
      margin-bottom: 2px;
      padding: 16px;

      h2 {
        font-size: $fontSizeBouton;
        color: #9caffb;
        margin-top: 0;
      }

      p {
        color: white;
        font-size: $fontSizeBouton;
        line-height: 1.4;
        text-align: justify;
        margin: 0;
      }
    }

    .div-newComment {
      width: 100%;
      box-sizing: border-box;
      // border: 3px solid $blueColor;
      margin-top: 24px;
      margin-bottom: 24px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;

      button {
        width: 200px;
        height: 40px;
        padding: 8px 16px;
        border-radius: 40px;
        background-color: $blueColor;
        color: white;
        font-size: $fontSizeBouton;
        box-sizing: content-box;
        cursor: none;

        &:hover {
          background-color: $colorYellow;
          color: black;
        }
      }

      .div-inputNewComment {
        width: 100%;
        box-sizing: border-box;
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 24px;

        textarea {
          width: 70%;
          height: 300px;
          font-size: $fontSizeP;
          border-radius: 40px;
          padding: 20px;
        }

        .buttons-newComment {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }
      }
    }

    .div-prevNext {
      margin-top: 24px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 36px;

      .buttonChangeOrder {
        background-color: $blueColor;
        color: white;
        border-radius: 40px;
        padding: 8px 16px;
        font-size: $fontSizeP;
        cursor: none;

        &:hover {
          background-color: $colorYellow;
          color: black;
        }
      }

      label {
        color: white;
        font-size: $fontSizeP;
      }

      select {
        background-color: $colorDark;
        color: white;
        border-radius: 8px;
        width: 45px;
        height: 30px;
        font-size: $fontSizeP;
        cursor: none;

        &:hover {
          background-color: $blueColor;
        }
      }

      .arrowPrev {
        width: 40px;
        height: 25px;
        clip-path: polygon(
          40% 0%,
          40% 20%,
          100% 20%,
          100% 80%,
          40% 80%,
          40% 100%,
          0% 50%
        );
        color: rgba(0, 0, 0, 0);
        background-color: $colorYellow;
        border: 3px outset #cf7e03;
      }

      .arrowNext {
        width: 40px;
        height: 25px;
        clip-path: polygon(
          0% 20%,
          60% 20%,
          60% 0%,
          100% 50%,
          60% 100%,
          60% 80%,
          0% 80%
        );
        color: rgba(0, 0, 0, 0);
        background-color: $colorYellow;
        border: 3px outset #cf7e03;
      }

      .arrowNext,
      .arrowPrev {
        cursor: none;

        &:hover {
          background-color: $blueColor;
          border: none;
        }
      }
    }
  }
}
