$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.globalPage {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  // background-color: lightseagreen;

  // color: white;

  .headerNavbare {
    box-sizing: border-box;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: lightgray;
  }

  .carteResumeScenario{
    width: 95vw;
    height: auto;
    border: 5px $blueColor solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colorDark;

    h3 {
      color: white;
      margin-top: 50px;
    }

    .titleResumeScenar {
      width: 75%;
      height: 15vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      // background-color: red;

      h1 {
        font-size: $fontSizeTitre;
        color: $colorYellow;
      }

      h2 {
        font-size: $fontSizeBouton;
        color: $blueColor;
      }
    }

    .mainInfos {
      width: 95%;
      height: 40vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: $fontSizeP;
      color: white;
      margin-bottom: 30px;
      // background-color: green;

      img {
        width: auto;
        height: 100%;
      }

      .imgResumPagScenar {
        border-radius: 15px;
        border: solid 3px $blueColor;
      }

      ul {
        width: 75%;
        height: 80%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        text-decoration: none;
        // background-color: purple;
      }

      #isFavorite {
        width: 75px;
        height: 75px;
        cursor: pointer;
        // background-color: orange;
      }
    }

    .scenarInteractions {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      // background-color: rgba(42, 33, 209, 0.581);

      .scenarInteractionsHight {
        width: 75%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        // background-color: aqua;

        input {
          width: 275px;
          height: 60px;
          font-size: $fontSizeBouton; // attention au responsive ...
          border-radius: 120px;
          cursor: pointer;
        }
      }

      .scenarInteractionsMiddle {
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: yellow;

        textarea {
          width: 500px;
          height: 150px;
          margin: 25px;
          border-radius: 20px;
          padding: 20px;
        }

        input {
          width: 250px;
          height: 50px;
          font-size: $fontSizeBouton; // attention au responsive ...
          border-radius: 100px;
          cursor: pointer;
        }
      }

      .scenarInteractionsLowEditing {
        width: 33vw;
        // height: 15vh;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid $colorYellow;
        border-bottom: 7px solid $colorYellow;
        border-radius: 15px;
        overflow-wrap: break-word;
        margin: 5px;
        padding: 10px;
        // background-color: lightcoral;
        // background-color: red;

        textarea {
          width: 65%;
          height: 95%;
          overflow-wrap: break-word;
          font-size: 1.1em;
        }

        .resumePageScenarButtonsEditing {
          width: 25%;
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          // background-color: yellow;
          
          button {
            width: 125px;
            height: 35px;
            border-radius: 10px;
            font-size: 1.2em;
          }
        }
      }

      .scenarInteractionsLowConsultation {
        width: 33vw;
        // height: 15vh;
        height: auto;
        display: flex;
        flex-direction: column;
        border: 1px solid $colorYellow;
        border-bottom: 7px solid $colorYellow;
        border-radius: 15px;
        overflow-wrap: break-word;
        margin: 5px;
        padding: 10px;
        // background-color: lightcoral;
        // background-color: yellow;

        .resumePageScenarButtonsConsultation {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          // background-color: red;

          div {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            // background-color: green;

            button {
              width: 125px;
              height: 35px;
              border-radius: 10px;
              font-size: 1.2em;
            }
          }
        }
      }

      .scenarInteractionsLowReader {
        width: 33vw;
        // height: 15vh;
        height: auto;
        border: 1px solid $colorYellow;
        border-bottom: 7px solid $colorYellow;
        border-radius: 15px;
        overflow-wrap: break-word;
        margin: 5px;
        padding: 10px;
        // background-color: lightcoral;
        // background-color: red;
      }

      .scInLowAll:hover {
        background-color: $blueColor;
      }

      .scInLowAll {
        color: white;
      }
    }
  }
}


// .resumePageScenarButtonsConsultation {
//   width: 25%;
//   height: 50%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   background-color: red;
  
//   button {
//     width: 125px;
//     height: 35px;
//     border-radius: 10px;
//     font-size: 1.2em;
//   }
// }





// .scenarInteractionsLow {
//   width: 33vw;
//   height: auto;
//   border-bottom: 5px solid $colorYellow;
//   border-radius: 15px;
//   overflow-wrap: break-word;
//   margin: 5px;
//   padding: 10px;
//   background-color: lightcoral;

//   p {
//     color: $colorYellow;
//   }

//   input {

//   }
// }
