$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.main-resumePageScenario {
  width: 100vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colorDark;
  color: white;

  .div-synopsis {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;

    p {
      text-align: justify;
      font-size: $fontSizeBouton;

      span {
        color: $colorYellow;
        font-weight: bold;
      }
    }

    p:first-of-type {
      width: 20%;
    }

    p:last-of-type {
      width: 80%;
    }
  }

  .mainInfos {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
    font-size: $fontSizeP;
    color: white;
    margin-top: 56px;
    margin-bottom: 30px;
    // background-color: green;

    img {
      width: auto;
      height: 400px;
    }

    .imgResumPagScenar {
      border-radius: 15px;
      border: solid 3px $blueColor;
    }

    .text-container {
      width: 100%;

      span {
        color: $colorYellow;
      }

      h1,
      h2 {
        font-size: $fontSizeTitre;
      }

      p,
      li {
        font-size: $fontSizeBouton;
      }

      ul {
        // width: 75%;
        // height: 80%;
        padding: 0;
        margin: 32px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        text-decoration: none;
        // background-color: purple;
      }
    }

    #isFavorite {
      position: absolute;
      top: 0;
      right: 0;
      width: 75px;
      height: 75px;
      cursor: pointer;
      // background-color: orange;
    }
  }

  .scenarInteractions {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // background-color: rgba(42, 33, 209, 0.581);

    .scenarInteractionsHight {
      width: 75%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      // background-color: aqua;

      input {
        width: 275px;
        max-width: 40%;
        height: 60px;
        font-size: $fontSizeBouton; // attention au responsive ...
        border-radius: 120px;
        background-color: $blueColor;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: $colorYellow;
          color: black;
        }
      }
    }

    .scenarInteractionsMiddle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      width: 100%;
      max-width: 1000px;
      margin-top: 32px;
      // border: 5px solid $colorYellow;
      padding: 0;
      // background-color: yellow;

      textarea {
        width: 60%;
        height: 150px;
        border-radius: 20px;
        padding: 20px;
        font-size: $fontSizeP;
      }

      input {
        width: 250px;
        height: 50px;
        font-size: $fontSizeBouton; // attention au responsive ...
        border-radius: 100px;
        background-color: $blueColor;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: $colorYellow;
          color: black;
        }
      }
    }

    .separation-line {
      width: 100%;
      max-width: 1200px;
      height: 0;
      box-shadow: 0px 0px 5px 3px $blueColor;
      margin: 72px 0 24px 0;
    }

    h2 {
      color: $colorYellow;
      margin-bottom: 48px;
    }

    .scenarInteractionsLowEditing {
      width: 1000px;
      max-width: 100vw;
      // height: 15vh;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      border-radius: 15px;
      overflow-wrap: break-word;
      margin: 2px;
      padding: 10px;
      border: 1px solid $blueColor;
      border-bottom: 3px solid $colorYellow;

      // background-color: lightcoral;
      // background-color: red;

      textarea {
        width: 65%;
        height: 95%;
        overflow-wrap: break-word;
        font-size: $fontSizeP;
      }

      .resumePageScenarButtonsEditing {
        width: 25%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // background-color: yellow;

        button {
          width: 125px;
          height: 35px;
          border-radius: 10px;
          font-size: $fontSizeP;
        }
      }
    }

    .scenarInteractionsLowConsultation {
      box-sizing: border-box;
      width: 1000px;
      max-width: 95vw;
      height: auto;
      display: flex;
      flex-direction: column;
      border: 1px solid $blueColor;
      border-bottom: 3px solid $colorYellow;

      border-radius: 15px;
      overflow-wrap: break-word;
      margin: 2px;
      padding: 10px;
      // background-color: lightcoral;
      // background-color: yellow;

      .pseudo-date {
        color: $colorYellow;
      }
      p {
        font-size: $fontSizeBouton;
      }

      .resumePageScenarButtonsConsultation {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        // background-color: red;

        div {
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          // background-color: green;

          button {
            width: 125px;
            height: 35px;
            border-radius: 10px;
            font-size: 1.2em;
          }
        }
      }
    }

    .scenarInteractionsLowReader {
      width: 33vw;
      // height: 15vh;
      height: auto;
      border: 1px solid $blueColor;
      border-bottom: 5px solid $colorYellow;
      border-radius: 15px;
      overflow-wrap: break-word;
      margin: 5px;
      padding: 10px;
      // background-color: lightcoral;
      // background-color: red;
    }

    .scInLowAll:hover {
      background-color: $blueColor;
    }

    .scInLowAll {
      color: white;
    }
  }
}

// .resumePageScenarButtonsConsultation {
//   width: 25%;
//   height: 50%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   background-color: red;

//   button {
//     width: 125px;
//     height: 35px;
//     border-radius: 10px;
//     font-size: 1.2em;
//   }
// }

// .scenarInteractionsLow {
//   width: 33vw;
//   height: auto;
//   border-bottom: 5px solid $colorYellow;
//   border-radius: 15px;
//   overflow-wrap: break-word;
//   margin: 5px;
//   padding: 10px;
//   background-color: lightcoral;

//   p {
//     color: $colorYellow;
//   }

//   input {

//   }
// }
