$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.main-scenarioReading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  position: relative;

  .mobile-summary {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: $colorDark;
    width: 300px;
    max-width: 100vw;
    height: 100vh;
    box-shadow: 0px 0px 20px 5px $blueColor;
  }

  .section-mobile-sommaireReading {
    position: fixed;
    top: 5px;
    left: 0px;
    z-index: 200;

    .img-showMenu {
      width: 80px;
      height: 50px;
      height: auto;
      cursor: auto;
      opacity: 0.8;
      background-color: black;
      transition: 0.5s ease;

      &:hover {
        width: 100px;
      }
    }
  }

  .section-sommaireReading {
    position: sticky;
    z-index: 200;
    top: 10px;
    width: 100vw;
    max-width: 300px;
    box-shadow: 0px 0px 20px 3px $blueColor;
    margin-top: 20px;
    max-height: 97vh;
  }

  .section-scenarioReading {
    // position: relative;

    background-color: $colorDark;
    box-sizing: border-box;

    .reading-page-container {
      // position: relative;
      width: 100%;
      height: 100%;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;

      .section-page-reading {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 100%;
        box-sizing: border-box;

        .button-previousPage {
          position: absolute;
          bottom: 0;
          right: 70px;
          width: 40px;
          height: 25px;
          clip-path: polygon(
            40% 0%,
            40% 20%,
            100% 20%,
            100% 80%,
            40% 80%,
            40% 100%,
            0% 50%
          );
          color: rgba(0, 0, 0, 0);
          background-color: $colorYellow;
          opacity: 0.6;
          border: 3px outset #cf7e03;
        }

        .button-nextPage {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 40px;
          height: 25px;
          clip-path: polygon(
            0% 20%,
            60% 20%,
            60% 0%,
            100% 50%,
            60% 100%,
            60% 80%,
            0% 80%
          );
          color: rgba(0, 0, 0, 0);
          background-color: $colorYellow;
          opacity: 0.6;
          border: 3px outset #cf7e03;
        }

        button:hover {
          background-color: $blueColor;
          cursor: auto;
        }
      }
    }
  }
}
