@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
$blueColor: #4c60ae;
$colorYellow: #ffbd59;
$colorDark: #070a09;
$colorWhite: #ffffff;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.containerScripts {
  width: 100vw;

  header {
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;

    p {
      font-size: 6rem;
      color: $colorDark;
      white-space: nowrap;
      // height: 100%;
      // object-fit: fill;
      animation: Scroll 20s linear infinite;
      text-shadow: 0 0 7px $blueColor;
    }

    @keyframes Scroll {
      0% {
        transform: translateX(-100%);
      }

      100% {
        transform: translateX(0%);
      }
    }
  }

  .all {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    font-family: Lustria;
    font-weight: bold;

    .Filter {
      // margin-top:10%;
      position: sticky;
      width: 28%;
      height: 100%;
      box-shadow: 7px 0px 4px -4px $blueColor;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 32px;

      .buttonReset {
        background-color: $colorDark;
        border: none;
        margin-top: 10%;
      }

      .containerType {
        width: 100%;
        display: flex;
        justify-content: center;

        .Type {
          gap: 20px;
          display: flex;
          flex-direction: nowrap;
          align-items: center;

          p {
            color: $colorWhite;
            font-size: xx-large;
          }
        }
      }

      .containerSelect {
        width: 65%;

        p {
          font-size: x-large;
          display: flex;
          justify-content: center;
        }

        select {
          // border-radius: 50px;
          background-color: $colorDark;
          border-color: $blueColor;
          color: #eee;
          width: 100%;
        }
      }
    }

    .titleTheme {
      display: flex;
      justify-content: center;
      font-size: x-large;
      color: #ffff;
      text-decoration: underline;
      text-decoration-color: $blueColor;
    }

    .try {
      width: 65%;
      font-size: xx-large;

      .filtered-scenarios {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 54px;
      }
    }
  }

  .Type {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    p {
      color: white;
      position: relative;
      top: 10px;
    }
  }

  .conseiller {
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      color: $colorYellow;
      font-size: xx-large;
      border: none;
      background-color: $colorDark;
    }

    button:hover {
      text-decoration: underline;
      text-decoration-color: $colorYellow;
    }
  }

  .univers {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    p {
      color: #ffff;
      text-decoration: underline;
      text-decoration-color: $blueColor;
    }
  }

  .auteur {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    p {
      color: #ffff;
      text-decoration: underline;
      text-decoration-color: $blueColor;
    }
  }

  .Difficultes {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    p {
      color: #ffff;
      text-decoration: underline;
      text-decoration-color: $blueColor;
    }
  }

  .nombre {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    p {
      color: #ffff;
      text-decoration: underline;
      text-decoration-color: $blueColor;
    }
  }
}

//--------------------------------------------------------------------------------------------------------------

@media screen and (max-width: 960px) {
  .all {
    display: flex;
    flex-direction: column;
    font-weight: initial;
  }
  .containerScripts .all .Filter {
    // margin-left: 0;
    position: initial;
    width: 100%;
    height: 30%;
    box-shadow: 0px 10px 6px -5px $blueColor;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 60px;
    .containerType .Type p {
      font-size: larger;
    }
  }
  .containerScripts .all .try {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
  }
}
