@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
$blueColor: #4c60ae;
$colorYellow: #ffbd59;

.containerScripts {
  width: 100vw;

  header {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
 

    p {
      font-size: 7rem;
      color: #070a09;
      white-space: nowrap;
      // height: 100%;
      // // object-fit: fill;
      animation: Scroll 20s linear infinite;
      text-shadow: 0 0 2px  #4c60ae,
    }

    @keyframes Scroll {
      0% {
        transform: translateX(-100%);
      }

      100%{
        transform: translateX(0%);
      }
    }
  }
  .all {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    font-family: Lustria;
    font-weight: bold;

    .Filter {
      // margin-top:10%;
      position: sticky;
      width: 28%;
      height: 100%;
      box-shadow: 7px 0px 4px -4px $blueColor;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 32px;

      .Type {
        display: flex;
        align-items: baseline;
        p{
          font-size: x-large;
        }
      }
      .containerSelect {
        width: 65%;
        p{
          font-size: x-large;
          display: flex;
          justify-content: center;
        }
        select {
          // border-radius: 50px;
          background-color: #070a09;
          border-color: #4c60ae;
          color: #eee;
          width: 100%;
        }
      }
    }

    .titleTheme {
      display: flex;
      justify-content: center;
      font-size: x-large;
      color:  #ffff;
      text-decoration: underline;
      text-decoration-color:#4c60ae;
    }

    .try {
      width: 65%;
      font-size: xx-large;

      .filtered-scenarios {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 54px;
      }
    }
  }
  .Type {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
      p {
        color: white;
        position: relative;
        top: 10px;
      }
  }

  .conseiller {
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      color: #ffbd59;
      font-size: xx-large;
      border: none;
      background-color: #070a09;
    }

    button:hover{
        text-decoration: underline;
        text-decoration-color: #ffbd59;
    }
  }

  .univers {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
    p {
      color: #ffff;
      text-decoration: underline;
      text-decoration-color:#4c60ae;
    }
  }
  .auteur {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    p {
      color: #ffff;
      text-decoration: underline;
      text-decoration-color:#4c60ae;
    }
  }

  .Difficultes {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    p {
      color: #ffff;
      text-decoration: underline;
      text-decoration-color:#4c60ae;
    }
  }

  .nombre {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    p {
      color:  #ffff;
      text-decoration: underline;
      text-decoration-color:#4c60ae;
    }
  }
}
//--------------------------------------------------------------------------------------------------------------
/* The switch - the box around the slider */
.switch {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #eee;
  transition: 0.4s;
  border-radius: 0.5em;
  box-shadow: 0 0.2em #dfd9d9;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.4em;
  border-radius: 0.3em;
  left: 0.3em;
  bottom: 0.7em;
  background-color: rgb(255, 189, 89);
  transition: 0.4s;
  box-shadow: 0 0.4em #bcb4b4;
}

.slider:hover::before {
  box-shadow: 0 0.2em #bcb4b4;
  bottom: 0.5em;
}

input:checked + .slider:before {
  transform: translateX(2em);
  background: rgb(255, 189, 89);
}
