@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
$blueColor: #4c60ae;
$colorYellow: #ffbd59;

.Scripts{
    margin-top: 20vh;
    margin-bottom: 10vh;
    width: 100%;
}

.all {
  // width: 100%;
  // height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Lustria;
 
  .Filter {
    margin-top: 10%;
    width: 25%;
    height: 100%;
    box-shadow: 7px 0px 4px -4px $blueColor;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .Type{
        display:flex;
        align-items: baseline;
      }
    select{
      // border-radius: 50px;
      background-color: #070a09;
      border-color: #4c60ae;
      color: #eee;
      width:65%;
    }
  }

  .Card {
    display: flex;
  }

  .titleTheme{ 
      display: flex;
      justify-content: flex-start;
      font-size: large;
      color: #4c60ae;
  } 
  
  .try {
    width: 65%;
    font-size: xx-large;

    .filtered-scenarios{
      display:flex;
      flex-wrap: wrap;
    }
  }
}

.container {
  .Type {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
  p {
    color: white;
  }
  .conseiller {
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    

    button {
      color:#ffbd59;
      font-size: larger;
      border: none;
      background-color: #070a09;
    }
  }

  .univers {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    p {
      color:#4c60ae;
    }
  }
  .auteur {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;

    p {
      color: #4c60ae;
    }
  }

  .Difficultes {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;

    p {
      color: #4c60ae;
    }
  }

  .nombre {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    
    p {
      color: #4c60ae;
    }
  }
}
//--------------------------------------------------------------------------------------------------------------
/* The switch - the box around the slider */
.switch {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #eee;
  transition: 0.4s;
  border-radius: 0.5em;
  box-shadow: 0 0.2em #dfd9d9;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.4em;
  border-radius: 0.3em;
  left: 0.3em;
  bottom: 0.7em;
  background-color: rgb(255, 189, 89);
  transition: 0.4s;
  box-shadow: 0 0.4em #bcb4b4;
}

.slider:hover::before {
  box-shadow: 0 0.2em #bcb4b4;
  bottom: 0.5em;
}

input:checked + .slider:before {
  transform: translateX(2em);
  background: rgb(255, 189, 89);
}
