@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$colorWhite: #ffffff;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

a {
  text-decoration: none;
}

a:visited {
  color: $colorWhite;
}

a:active {
  background-color: $colorYellow;
}

.userContainer {
  display: flex;
  flex-direction: row;
  font-family: Julius Sans One;
  section {
    display: flex;
    height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu {
    width: 30vw;
    color: $colorWhite;
    position: sticky;
    .photoAndMenu {
      width: 100%;
      height: 50vh;
      box-shadow: 7px 0px 4px -4px $blueColor;
      .photoProfil {
        position: relative;
        width: 100%;
        height: 13vh;
        display: flex;
        justify-content: center;
        .containImg {
          position: relative;
          width: auto;
          height: 100%;
          border-radius: 50%;
          background-color: #4c60ae;
          .containLogoModify {
            position: absolute;
            top: 0%;
            left: 100%;
            width: 50px;
            height: 50px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .imgPhoto {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .containMenu {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40vh;

        .active {
          background-color: $colorYellow;
          color: black;
        }
      }
      .buttonMenu {
        width: 300px;
        border-radius: 24px;
        background-color: $blueColor;
        text-align: center;
        margin: 8px;
        &:hover {
          background-color: $colorWhite;
          color: $blueColor;
        }
      }
    }
  }

  .outlet {
    width: 70vw;
    align-items: center;
  }
}
