@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$colorWhite: #ffffff;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.GlobalWelcContain {
  background-color: $colorDark;
  position: relative;
  .TitleContain {
    margin-top: 150px;
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .images_header {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 64px;
      .title {
        width: 100%;
      }
      .SubTitCon {
        display: flex;
        font-family: Lustria;
        font-size: $fontSizeP;
        color: #ffffff;
      }
    }
    .BookFall {
      display: flex;
      height: 50vh;
    }
  }

  .find_create {
    display: flex;
    justify-content: center;
    gap: 200px;
    font-size: 24px;
    h2 {
      text-align: center;
    }
    .conteneurSVG {
      display: flex;
      justify-content: center;
      object-fit: cover;
      width: 30%;
      svg {
        width: 100%;
        height: 5px;
        stroke: #ffffff;
      }
    }
    p {
      text-align: justify;
    }
    button {
      width: 250px;
      height: 80px;
      border-radius: 42px;
      background-color: #ffffff;
      color: $colorDark;
      font-size: 32px;
    }
    .FindScrip {
      width: 30%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      box-shadow: 0 0 20px 3px $blueColor;
      border-radius: 32px;
      background-color: $colorDark;
      box-sizing: border-box;
      margin: 36px;
      padding: 64px;
    }

    .CreateScrip {
      width: 20%;
      position: relative;
      top: 200px;
      height: 70vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      box-shadow: 0 0 20px 3px $colorYellow;
      border-radius: 32px;
      background-color: $colorDark;
      box-sizing: border-box;
      margin: 36px;
      padding: 46px;
    }
  }

  .mokeUp {
    padding-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    color: $colorWhite;
    font-size: 32px;
  }
  
  .mainFormNewScenario {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: Lustria;
    margin-bottom: 20px; // Inutile mais c'est pour que l'on voit le fond du container !
    // position: absolute;  // Ne marche pas, fait nimp !

    h2 {
      margin: 30px 0 10px 0;
      font-size: $fontSizeTitre;
    }

    .formGlobal {
      box-sizing: border-box;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $blueColor;
      font-size: $fontSizeP;
      // background-color: $colorDark; // Utile ? marche si desactivé ...
      // box-shadow: 0px 0px 20px 5px $blueColor;  // Bonne valeur !!
      box-shadow: 0px 0px 20px 5px $colorYellow;  // Pour test
      border-radius: 50px;

      .params {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        // &:nth-child(even) {
        //   align-items: flex-start;
        // }
  
        // &:nth-child(odd) {
        //   align-items: flex-end;
        // }

        .inputSelect {
          margin-left: 35px;
          width: 100px;
          height: 25px;
        }

        .param_playerScenar {
          color: red;
          width: 100%;
          height: 100%;
          
          div {
            width: 100%;
            height: auto;
            color: yellow;

            div {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              border: 3px solid $colorYellow;
              border-radius: 10px;
              margin: 5px 2px;
              padding: 10px;
              color: green;
            }
          }

          p {
            margin: 5px 0;
            margin-left: 15px;

          }
        }

        .param {
          width: 80%;
          height: 100%;
          display: flex;
          flex-direction: column;
          border: 3px solid $colorYellow;
          border-radius: 10px;
          margin: 5px 0;
          padding: 10px;
    
          p {
            margin: 5px 0;
            margin-left: 15px;
          }

          textarea {
            width: 350px;
            height: 150px;
            margin-left: 35px;
          }

          
          img {
            width: 200px;       // A adapter pour la demo !!
            height: 100px;      // A adapter pour la demo !!
            margin-left: 150px; // A adapter pour la demo !!
          }

          .inputText {
            margin-left: 35px;
            width: 300px;
            height: 25px;
          }
        }

        .param_playerScenar {
          width: 75%;
          height: 100%;
          display: flex;
          flex-direction: column;
          border: 3px solid $colorYellow;
          border-radius: 5px;
          margin: 5px 0;
          padding: 10px;

          .NumberPlayer {
            width: 75px;
            height: 25px;
          }


          div {
            display: flex;
            flex-direction: row;
          }
        }
      }

      .submitScenar {
        margin: 20px 0;
        
        input {
          width: 250px;
          height: 75px;
          font-size: $fontSizeBouton;
          border-radius: 10px;
        }
      }
    }    
  }
}
