@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$colorWhite: #ffffff;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.GlobalWelcContain {
  background-color: $colorDark;
  position: relative;
  .TitleContain {
    margin-top: 150px;
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .images_header {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 64px;
      .title {
        width: 100%;
      }
      .SubTitCon {
        display: flex;
        font-family: Lustria;
        font-size: $fontSizeP;
        color: #ffffff;
      }
    }
    .BookFall {
      display: flex;
      height: 50vh;
    }
  }

  .containerImg {
    position: relative;
    top: 200px;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    transition: transform 2.5s ease;
    img {
      position: relative;
      animation: rotateDe 8s infinite;
      &:hover {
        animation: fallde 3s ease;
      }
    }
  }

  .find_create {
    display: flex;
    justify-content: center;
    gap: 200px;
    font-size: 24px;
    h2 {
      text-align: center;
    }
    .conteneurSVG {
      display: flex;
      justify-content: center;
      object-fit: cover;
      width: 30%;
      svg {
        width: 100%;
        height: 5px;
        stroke: #ffffff;
      }
    }
    p {
      text-align: justify;
    }
    button {
      width: 250px;
      height: 80px;
      border-radius: 42px;
      background-color: #ffffff;
      color: $colorDark;
      font-size: 32px;
    }
    .FindScrip {
      width: 30%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      box-shadow: 0 0 20px 3px $blueColor;
      border-radius: 32px;
      background-color: $colorDark;
      box-sizing: border-box;
      margin: 36px;
      padding: 64px;
    }

    .CreateScrip {
      width: 20%;
      position: relative;
      top: 450px;
      height: 70vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      box-shadow: 0 0 20px 3px $colorYellow;
      border-radius: 32px;
      background-color: $colorDark;
      box-sizing: border-box;
      margin: 36px;
      padding: 46px;
    }
  }

  .mokeUp {
    padding-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    color: $colorWhite;
    font-size: 32px;
    h3 {
      font-size: 64px;
      color: black;
      font-family: Lustria;
      text-shadow: 0 0 5px $colorYellow, 0 0 5px $colorYellow;
    }
    .AnimLaptop {
      width: 700px;
      height: 700px;
      img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: contain;
        animation: levitationLaptop 2.5s ease infinite;
      }
    }
    .textMock {
      margin-bottom: 20px;
    }
  }

  .sliders {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-bottom: 32px;
    color: $colorWhite;
    .popularScript {
      text-align: center;
      font-size: 64px;
      color: black;
      font-family: Lustria;
      text-shadow: 0 0 5px $blueColor, 0 0 5px $blueColor, 0 0 5px $blueColor;
    }
  }

  @keyframes levitationLaptop {
    0% {
      top: 10px;
    }
    50% {
      top: 30px;
    }
    100% {
      top: 10px;
    }
  }

  @keyframes rotateDe {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fallde {
    0% {
      top: 10px;
    }
    20% {
      top: 30px;
    }
    30% {
      top: 10px;
    }
    40% {
      top: 30px;
    }
    50% {
      top: 10px;
    }
    60% {
      top: 30px;
    }
    70% {
      top: 10px;
    }
    80% {
      left: 0px;
    }
    90% {
      left: 1200px;
    }
    100% {
      left: 1200px;
    }
  }
}
