@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
$colorYellow: #ffbd59;
$colorDark: #070a09;
$blueColor: #4c60ae;
$colorWhite: #ffffff;
$fontSizeP: 1.2rem;
$fontSizeBouton: 1.3rem;
$fontSizeTitre: 1.5rem;

.GlobalWelcContain {
  background-color: #070a09;
  .TitleContain {
    margin-top: 150px;
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .images_header {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 64px;
      .title {
        width: 100%;
      }
      .SubTitCon {
        display: flex;
        font-family: Lustria;
        font-size: 1.3rem;
        color: #ffffff;
      }
    }
    .BookFall {
      display: flex;
      height: 50vh;
    }
  }

  .find_create {
    display: flex;
    justify-content: center;
    gap: 200px;
    font-size: 24px;
    h2 {
      text-align: center;
    }
    .conteneurSVG {
      display: flex;
      justify-content: center;
      object-fit: cover;
      width: 30%;
      svg {
        width: 100%;
        height: 5px;
        stroke: #ffffff;
      }
    }
    p {
      text-align: justify;
    }
    button {
      width: 250px;
      height: 80px;
      border-radius: 42px;
      background-color: #ffffff;
      color: $colorDark;
      font-size: 32px;
    }
    .FindScrip {
      width: 30%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      box-shadow: 0 0 20px 3px $blueColor;
      border-radius: 32px;
      background-color: $colorDark;
      box-sizing: border-box;
      margin: 36px;
      padding: 64px;
    }

    .CreateScrip {
      width: 20%;
      position: relative;
      top: 200px;
      height: 70vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      box-shadow: 0 0 20px 3px $colorYellow;
      border-radius: 32px;
      background-color: $colorDark;
      box-sizing: border-box;
      margin: 36px;
      padding: 46px;
    }
  }

  .mokeUp {
    padding-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    color: $colorWhite;
    font-size: 32px;
  }
}
